.search-page {
  text-align: center;
  padding: 20px;
}
.image-container img {
  width: 15%;
  max-width: 800px;
  margin: 0px;
}

.main-heading {
  font-size: 3em;
  margin-bottom: 6px;
  margin-top: 2px;
}

.description p {
  width: 100%;
}

.description {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-bar input {
  width: 70%;
  padding: 18px 10px;
  font-size: 20px;
  outline: none;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #dadada;
  color: rgb(0, 0, 0);
}

.in {
  display: flex;
  justify-content: center;
  text-align: center;
}

.tags-container {
  position: relative;
  width: 72%;
  height: auto;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 8px;
  background-color: #dadada;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.tag {
  background-color: #eee;
  padding: 14px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.remove-tag {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.refresh-tags {
  background-color: #2c3e50;
  color: lightblue;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}

.refresh-tags:hover {
  background-color: #48627a;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 72%;
}

.number-of-pages, 
.action-dropdown {
  width: 48%;
  padding: 18px 10px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #dadada;
  color: rgb(0, 0, 0);
  margin-right: 4%;
}

.number-of-pages:last-child,
.action-dropdown:last-child {
  margin-right: 0;
}

.button-out {
  text-align: center;
}

.submit-button {
  width: 72%;
  font-size: 20px;
  background-color: #2c3e50;
  color: white;
  padding: 18px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #48627a;
}
