.sidebar {
    width: 260px;
    height: 100vh; /* Full viewport height */
    background-color: #2c3e50;
    color: white;
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 22;
    transition: width 0.3s; 
  }
  
  .links {
    /* background-color: #cbd3dc; */
    margin-top: 20px;
      display: flex;
      flex-direction: column;
      
  }
  
  .links a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    transition: background 0.3s;
  }
  
  .links a:hover {
      background-color: #48627a;
    }
    
    .links .icon {
        margin-right: 10px;
    }
    
    .links .active {
      background-color: #34495e;
  }
  
  .profile {
    display: flex;
    align-items: center;
    padding:10px 10px;
    background-color: #696969;
  }
  
  .profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding:0 10px;
  }
  
  .profile-info {
 border-left:1px solid white ;
 padding:0  10px ; 
  }
  .profile-info h3{
    /* background-color: #4d2828; */
  }
  .profile-info p{
    margin-top: -12px;
font-size: 10pt;
/* background-color: #fff; */
  } 

  .sidebar.closed {
    width: 0px;
    padding: 2px;
  }
 