.app {
  display: flex;
}
body{
  background-image: url(../public/gradient.png);
  background-size: cover;
}

.content {
  margin-left: 300px; /* Offset for sidebar width */
  padding: 20px;
  flex-grow: 1;
}
.app {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  transition: margin-right 0.3s;
}

.content-open {
  margin-left: 300px; /* Adjust for sidebar width */
  margin-right: 40px;
}

.content-closed {
  margin-left: 30px; /* Adjust for sidebar button width */
  margin-right: 30px;
}

.button-open {
  background: none;
  border: none;
  background-color: #48627a;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  padding-left: 24px;
  padding-right: 6px;
  margin-bottom: 20px;
  position: absolute;
  left: 240px;
  top:48%;
  z-index: 1;
  transition: left 0.3s;
}

.button-closed{
  background: none;
  background-color:#48627a;
  border-radius: 50%;
  padding: 8px 10px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  padding-left: 24px;
  padding-right: 6px;
  margin-bottom: 20px;
  position: absolute;
  left: -18px;
  top: 49%;
  transition: left 0.3s; 
}

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container form label {
  display: block;
  margin-bottom: 5px;
}

.login-container form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-container form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #0056b3;
}
